Source: petsc
Section: devel
Priority: extra
Maintainer: Debian Scientific Computing Team <pkg-scicomp-devel@lists.alioth.debian.org>
Uploaders: "Adam C. Powell, IV" <hazelsct@debian.org>
XS-DM-Upload-Allowed: yes
Standards-Version: 3.8.1
Build-Depends: debhelper (>= 3.0), quilt, python (>= 2.2), gfortran, \
 libx11-dev, mpi-default-dev, mpi-default-bin, \
 libblas-dev | libblas-3gf.so, liblapack-dev | liblapack-3gf.so, \
 libsuitesparse-dev (>= 3.1.0-2), libsuperlu3-dev (>= 3.0+20070106), \
 libspooles-dev (>= 2.2-6), libhypre-dev (>= 2.4.0), \
 babel-1.2.0 | babel [!arm !alpha !s390 !hppa], \
 libsidl-dev (>= 1.2.0.dfsg-5) [!arm !alpha !s390 !hppa]
Homepage: http://www.mcs.anl.gov/petsc

Package: libpetsc3.0.0-dev
Architecture: any
Section: libdevel
Depends: libpetsc3.0.0 (= ${binary:Version}), ${mpi-dev}, ${linear-algebra-dev}, ${petsc-compilers}, ${petsc-extra-dev}, libx11-dev, libsuitesparse-dev, libsuperlu3-dev, libspooles-dev, libhypre-dev (>= 2.0.0.dfsg-7), ${babel-dev}
Suggests: petsc-dev (= ${binary:Version}), libpetsc3.0.0-dbg (= ${binary:Version}), petsc3.0.0-doc (= ${binary:Version}), libluminate-dev
Provides: petsc3.0.0-dev
Description: Static libraries, shared links, header files for PETSc
 PETSc is the "Portable Extensible Toolkit for Scientific Computation", a suite
 of data structures and routines for the scalable (parallel) solution of
 scientific applications modeled by partial differential equations.  It employs
 the MPI standard for all message-passing communication.  Several sample
 scientific applications, as well as various papers and talks, demonstrate the
 features of the PETSc libraries.

Package: petsc-dev
Architecture: all
Section: libdevel
Depends: libpetsc3.0.0-dev
Suggests: petsc-dbg
Description: Empty package depending on latest PETSc development package
 This package will always depend on the most recent version of petscX-dev
 (X=version), so if you install it then you will get upgrades automatically.

Package: libpetsc3.0.0
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${mpi}
Description: Shared libraries for version 3.0.0 of PETSc
 PETSc is the "Portable Extensible Toolkit for Scientific Computation", a suite
 of data structures and routines for the scalable (parallel) solution of
 scientific applications modeled by partial differential equations.  It employs
 the MPI standard for all message-passing communication.  Several sample
 scientific applications, as well as various papers and talks, demonstrate the
 features of the PETSc libraries.

Package: libpetsc3.0.0-dbg
Architecture: any
Section: libdevel
Depends: libpetsc3.0.0-dev (= ${binary:Version})
Suggests: petsc-dbg (= ${binary:Version})
Provides: petsc3.0.0-dbg
Description: Static debugging libraries for PETSc
 PETSc is the "Portable Extensible Toolkit for Scientific Computation", a suite
 of data structures and routines for the scalable (parallel) solution of
 scientific applications modeled by partial differential equations.  It employs
 the MPI standard for all message-passing communication.  Several sample
 scientific applications, as well as various papers and talks, demonstrate the
 features of the PETSc libraries.

Package: petsc3.0.0-doc
Architecture: all
Section: doc
Suggests: libpetsc3.0.0-dev (= ${binary:Version}), illuminator-doc
Description: Documentation and examples for PETSc
 PETSc is the "Portable Extensible Toolkit for Scientific Computation", a suite
 of data structures and routines for the scalable (parallel) solution of
 scientific applications modeled by partial differential equations.  It employs
 the MPI standard for all message-passing communication.  Several sample
 scientific applications, as well as various papers and talks, demonstrate the
 features of the PETSc libraries.
